/*.log
/*.debhelper
/*.substvars

/autoreconf.after
/autoreconf.before
/build-*
/po/POTFILES

/erlang-guestfs/
/files
/gir1.2-guestfs-1.0/
/guestfish/
/guestfsd/
/guestmount/
/libguestfs-dev/
/libguestfs-gobject-1.0-0/
/libguestfs-gobject-dev/
/libguestfs-java/
/libguestfs-ocaml-dev/
/libguestfs-ocaml/
/libguestfs-perl/
/libguestfs-tools/
/libguestfs0-dbg/
/libguestfs0/
/lua-guestfs/
/python-guestfs/
/ruby-guestfs/
/tmp/
